# General
.DS_Store
.AppleDouble
.LSOverride
.env

# Report
harvest.csv
report.csv

# Thumbnails
._*

# Common
.idea
*.map

# Vim
.projections.json

# VsCode
.vscode

# Logs
logs
*.log

# Dependencies
node_modules
npm-debug.log

# TypeScript and JS files
.tscache
